
# Automatically ignored untracked files
EDP_Only_Presentation.aux
EDP_Only_Presentation.log
EDP_Only_Presentation.nav
EDP_Only_Presentation.out
EDP_Only_Presentation.pdf
EDP_Only_Presentation.snm
EDP_Only_Presentation.tex
EDP_Only_Presentation.toc
EDP_Presentation.aux
EDP_Presentation.log
EDP_Presentation.nav
EDP_Presentation.out
EDP_Presentation.pdf
EDP_Presentation.snm
EDP_Presentation.tex
EDP_Presentation.toc
TSCP_Presentation.aux
TSCP_Presentation.log
TSCP_Presentation.nav
TSCP_Presentation.out
TSCP_Presentation.pdf
TSCP_Presentation.snm
TSCP_Presentation.toc
boot/boot_naive_polling/main.c
boot/boot_naive_polling/startup.c
boot/boot_naive_polling/stm32h753.ld
build_edp_only.py
build_edp_presentation.py
build_tscp_presentation.py
crc/crc_endianness_buggy/main.c
crc/crc_endianness_buggy/startup.c
crc/crc_endianness_buggy/stm32h753.ld
dma/dma_cache_coherency_buggy/main.c
dma/dma_cache_coherency_buggy/startup.c
dma/dma_cache_coherency_buggy/stm32h753.ld
edp_fig/cache_coherency.png
edp_fig/cortex_m7_arch.png
edp_fig/drone_telemetry.png
edp_fig/formal_proof.png
edp_fig/mpu_firewall.png
edp_fig/stack_smash.png
fault/fault_adversarial_resilience/main.c
fault/fault_adversarial_resilience/startup.c
fault/fault_adversarial_resilience/stm32h753.ld
interrupt/interrupt_uart_isr_basic/main.c
interrupt/interrupt_uart_isr_basic/startup.c
interrupt/interrupt_uart_isr_basic/stm32h753.ld
ipc/ipc_queue_unsafe/main.c
ipc/ipc_queue_unsafe/startup.c
ipc/ipc_queue_unsafe/stm32h753.ld
memory/memory_sdram_linker_surgery/main.c
memory/memory_sdram_linker_surgery/startup.c
memory/memory_sdram_linker_surgery/stm32h753.ld
mpu/mpu_xn_execute_fixed/main.c
mpu/mpu_xn_execute_fixed/startup.c
mpu/mpu_xn_execute_fixed/stm32h753.ld
power/power_wfi_race_fixed/main.c
power/power_wfi_race_fixed/startup.c
power/power_wfi_race_fixed/stm32h753.ld
protocol/protocol_mavlink_framing_buggy/main.c
protocol/protocol_mavlink_framing_buggy/startup.c
protocol/protocol_mavlink_framing_buggy/stm32h753.ld
rtos/rtos_pendsv_priority_buggy/main.c
rtos/rtos_pendsv_priority_buggy/startup.c
rtos/rtos_pendsv_priority_buggy/stm32h753.ld
